html, body {margin: 0; padding: 0;}
body{
    background: #dddddd;
    font-size: 18px;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    background-color: white;
    opacity: 0.5;
}
.navbar{
    background: #99ffcc;
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: row;
}
.content{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
}
.sidebar{
    background: #ffff80;
    display: flex;
    width: 8%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nav-links{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}
.top-links{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}
.bottom-links{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
    flex-wrap: nowrap;
}
.navbar img{
    height: 7vh;
    width: auto;
}
.sidebar img{
    height: auto;
    width: 6vw;
}
.left, .right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
}
#main{
    text-align: center;
    justify-content: center;
}
.left img{
    max-width: 25vw;
    height: auto;
}
#project-pictures img{
    height: 20vh;
}
#project-pictures{
    justify-content: space-around;
    padding-bottom: 20px;
}
#left-picture{
    justify-content: flex-start;
}
#construction{
    justify-content: center;
}
#projects{
    overflow-y: scroll;
}
.gallery{
    display: flex;
    width: 45vw;
    height: 90vh;
    order: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}
.gallery-row{
    display: flex;
    width: 40vw;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 0px 5px 0px;
}
.gallery-img{
    display: flex;
    width: 11vw;
    height: 27vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.gallery-img img{
    height: 27vh;
    width: auto;
}
#gallery{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#gallery img{
    height: 50vh;
    width: auto;
}