html, body {margin: 0; padding: 0;}
body{
    background: #dddddd;
    font-size: 18px;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    background-color: white;
    opacity: 0.5;
}
.navbar{
    background: #99ffcc;
    display: flex;
    width: 100%;
    height: 10%;
    flex-direction: row;
}
.content{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
}
.sidebar{
    background: #ffff80;
    display: flex;
    width: 8%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.info-top{
    display: flex;
    width: 92%;
    height: 100%;
    flex-direction: column;
}
.main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}
.top-links{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}
.bottom-links{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
}
.navbar img{
    height: 7vh;
    width: auto;
}
.sidebar img{
    height: auto;
    width: 6vw;
}
.left, .right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
}
#main{
    text-align: center;
    justify-content: center;
}
#left-picture{
    justify-content: center;
}
.left img{
    max-width: 25vw;
    height: auto;
}

