html, body {margin: 0; padding: 0;}
body{
  background: #dddddd;
  font-size: 2rem;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
  font-family: monospace;
}
.navbar{
  background: #99ffcc;
  display: flex;
  width: 100vw;
  height: 20vh;
  flex-direction: column;
  font-size: 1.5rem;
}
.content{
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
}
.sidebar{
  background: #ffff80;
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  order: 2;
}
.info-top{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  order: 1;
}
.main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
}
.nav-links{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.top-links{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}
.bottom-links{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}
.logo{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.navbar img{
  height: 9vh;
  width: auto;
}
.sidebar img{
  height: 7vh;
  width: auto;
}
.left, .right{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
#main{
  text-align: center;
  justify-content: center;
}
.left img{
  height: auto;
  width: 50vw;
}

